<h1>All Favorites</h1>

<% if @favorites.empty? %>
    None created yet!
<% else %>

    <ul>
    <% @favorites.each do |b| %>

        <li><%= link_to b.name, favorite_path(b) %>  (<%= b.user.username %>)</li>

    <% end %>
    </ul>

<% end %>