<h1><%= @favorites.user.username %>'s Cymbals </h1>

<% if @favorites.empty? %>
    None created yet!
<% else %>

    <ul>
    <% @favorites.each do |b| %>

        <li><%= link_to b.name, favorite_path(b) %></li>

    <% end %>
    </ul>

<% end %>