<% if @favorite.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@favorite.errors.count, "error") %>:</h3>
    <ul>
    <% @favorite.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>

