<span class="greeting"><h2>Hi, <%= @current_user.username %>.</h2></span>
<h1>Your bags:</h1>

<% if @current_user.bags.empty?  %>
    None. Create one <%=link_to "here", new_bag_path %>!

<% else %>

    <ul>
        <% @current_user.bags.each do |b| %>
            <h2><%= link_to @current_user.bags.name, bag_path(@current_user) %></h2>
                <%= link_to "edit", edit_bag_path(@current_user) %> |
                delete
                <hr>
        <% end %>
    </ul>

<% end %>