<h1>All Bags</h1>

<% if @bags.empty? %>
    No bags created yet!
<% else %>

    <ul>
    <% @bags.each do |b| %>

        <li><%= b.name %> - <%= b.user.username %></li>

    <% end %>
    </ul>

<% end %>