<% if @cymbal.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@cymbal.errors.count, "error") %>:</h3>
    <ul>
    <% @cymbal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

Add cymbal

<br><br>
<%= render 'form' %>
<br>