<h1>All Bags</h1>

<% if @reviews.empty? %>
    No reviews created yet!
<% else %>

    <ul>
    <% @reviews.each do |b| %>

        <li><%= link_to b.name %>  (<%= b.user.username %>)</li>

    <% end %>
    </ul>

<% end %>